<form action="http://localhost:62899/api/FileUpload" method="post" enctype="multipart/form-data">
    <p>
        Message
        <input type="text" name="text1" />
    </p>
    <p>
        <input type="file" name="file1" />
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>